<div class='container'>
<h3><%= @topic.title %></h3>
      <div class="media">
        <div class="media-body">
   	  	<ul><% @topic.bookmarks.each do |bookmark| %>
        		    <li><b><%= link_to bookmark.url, bookmark.url %></b></li>
                <% if policy(current_user).destroy? %>
                <p><%= link_to "Delete", topic_bookmark_path(@topic, bookmark), method: :delete, data: {confirm: 'Are you sure you want to delete bookmark?'} %> 
                <% end %>
                <% if policy(current_user).edit? %>
                 | <%= link_to "Edit", edit_topic_bookmark_path(@topic, bookmark) %></p><br>
                <% end %>
        	<% end %>
            </ul>
            <div><% if current_user %>
             <b>Add new bookmark</b>
               <%= render partial: 'bookmarks/form', locals: {topic: @topic} %>
             </b>
             <% end %>
            <br><br>
        </div>
      </div>
</div>
